{% extends "dashboard/layout.html" %}

{% set active = 6 %}

{% block dashboard_title %}导出结果{% endblock %}

{% block dashboard_content %}
  <form class="form-horizontal">
    <div class="form-group">
      <label for="downloadHTML" class="col-sm-3 control-label">HTML</label>
      <div class="col-sm-9">
        <button type="button" class="btn btn-success btn-lg btn-block" id="downloadHTML">下载</button>
      </div>
    </div>
    <div class="form-group">
      <label for="downloadPDF" class="col-sm-3 control-label">PDF</label>
      <div class="col-sm-9">
        <button type="button" class="btn btn-success btn-lg btn-block" id="downloadPDF">下载</button>
      </div>
    </div>
  </form>
{% endblock %}