{% extends "dashboard/layout.html" %}

{% set active = 1 %}

{% block dashboard_title %}概述{% endblock %}

{% block dashboard_content %}
  <div id="chartPie" style="height:400px;"></div>
{% endblock %}

{% block js_load %}
  {{ super() }}
  <script type="text/javascript">
    var chartPie = echarts.init(document.getElementById('chartPie'));
    var option = {
      tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)"
      },
      legend: {
        orient: 'vertical',
        x: 'left',
        data:['域名获取中','端口扫描中','主机检测中','Web 检测中','检测完成']
      },
      series: [
        {
          name:'访问来源',
            type:'pie',
            radius: ['40%', '55%'],
            label: {
              normal: {
                formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                backgroundColor: '#eee',
                borderColor: '#aaa',
                borderWidth: 1,
                borderRadius: 4,
                // shadowBlur:3,
                // shadowOffsetX: 2,
                // shadowOffsetY: 2,
                // shadowColor: '#999',
                // padding: [0, 7],
                rich: {
                  a: {
                    color: '#999',
                    lineHeight: 22,
                    align: 'center'
                  },
                  // abg: {
                  //     backgroundColor: '#333',
                  //     width: '100%',
                  //     align: 'right',
                  //     height: 22,
                  //     borderRadius: [4, 4, 0, 0]
                  // },
                  hr: {
                    borderColor: '#aaa',
                    width: '100%',
                    borderWidth: 0.5,
                    height: 0
                  },
                  b: {
                    fontSize: 16,
                    lineHeight: 33
                  },
                  per: {
                    color: '#eee',
                    backgroundColor: '#334455',
                    padding: [2, 4],
                    borderRadius: 2
                  }
                }
              }
            },
          data:[
            {value:{{ count.s1 }}, name:'域名收集中'},
            {value:{{ count.s2 }}, name:'端口扫描中'},
            {value:{{ count.s3 }}, name:'主机检测中'},
            {value:{{ count.s4 }}, name:'Web 检测中'},
            {value:{{ count.s5 }}, name:'检测完成'}
          ]
        }
      ]
    };
    chartPie.setOption(option);
  </script>
{% endblock %}